<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container para centralizar o conteúdo da navbar -->
    <div class="container px-4 px-lg-5">
        <!-- Marca ou logo da navbar que redireciona para a página inicial -->
        <a class="navbar-brand" href="{% url 'home' %}">Tutorial E-commerce</a>
        
        <!-- Botão para alternar a visibilidade do conteúdo da navbar em telas pequenas -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- Conteúdo colapsável da navbar -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Lista de navegação alinhada à esquerda -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <!-- Link para a página inicial -->
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a></li>
                <!-- Link para a página de busca -->
                <li class="nav-item"><a class="nav-link" href="{% url 'search' %}">Search</a></li>
                <!-- Link para a página sobre -->
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                
                <!-- Verifica se o usuário está autenticado -->
                {% if user.is_authenticated %}
                    <!-- Dropdown para o perfil do usuário -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'update_user' %}">User Profile</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="{% url 'update_info' %}">User Info</a></li>
                        </ul>
                    </li>
                    <!-- Link para logout -->
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>

                    <!-- Verifica se o usuário é superusuário -->
                    {% if user.is_superuser %}
                        <!-- Dropdown para pedidos -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Orders</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'shipped_dash' %}">Shipped</a></li>
                                <li><a class="dropdown-item" href="{% url 'not_shipped_dash' %}">Not Shipped</a></li>
                            </ul>
                        </li>
                    {% endif %}
                {% else %}
                    <!-- Links para login e registro se o usuário não estiver autenticado -->
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                {% endif %}
                
                <!-- Dropdown para categorias de produtos -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'category_summary' %}">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Programming-Books' %}">Programming Books</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Marketing-Books' %}">Marketing Books</a></li>
                    </ul>
                </li>
            </ul>
            
            <!-- Formulário para o carrinho de compras -->
            <form class="d-flex">
                <a href="{% url 'cart_summary' %}" class="btn btn-outline-dark">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <!-- Exibe a quantidade de itens no carrinho -->
                    <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">{{ cart|length }}</span>
                </a>
            </form>
        </div>
    </div>
</nav>