{% extends "base.html" %} {% block content %}

<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Search Products</h1>
      <p class="lead fw-normal text-white-50 mb-0">Find what are you looking for...</p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <center>
      <div class="col-10">
        <br/><br/><br/>

        <div class="card">
        <div class="card-header">
            Search Products
        </div>
        <div class="card-body">

            <form method='POST' action={% url "search" %}>
                {% csrf_token %}
                <div class="form-group">
                <input type="text" class="form-control" aria-describedby="Search For Product" placeholder="Search" name='searched'>
            </div>
            <p></p>
            <button type="submit" class="btn btn-secondary">Search</button>
            </form>

        </div>
        </div>
        <br /><br />
        {% if searched %}
            {% for item in searched  %}
                {{item}}<br/>
            {% endfor %}        
        {% endif %}
        <br /><br />
      </div>
    </center>
  </div>
</div>

{% endblock content %}
