{% extends "base.html" %}
{% block content %}
<!-- Header Section -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Billing Info</h1>
            <p class="lead fw-normal text-white-50 mb-0">Enter your Payment...</p>
        </div>
    </div>
</header>

<!-- Main Container -->
<div class="container my-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <!-- Order Summary Card -->
            <div class="card mb-4">
                <div class="card-header">
                    Order Summary
                </div>
                <div class="card-body">
                    {% for item in cart_products %}
                        <div class="mb-2">
                            <strong>{{ item.name }}:</strong>
                            <!-- Display sale price if item is on sale, otherwise display regular price -->
                            <span>
                                {% if item.is_sale  %}
                                    $ {{item.sale_price}}
                                {% else %}               
                                    $ {{item.price}}         
                                {% endif %}                            
                            </span>
                            <br/>
                            <small>Quantity: 
                                <!-- Loop through quantities to find the matching item id -->
                                {% for key, value in quantities.items %}
                                    {% if key == item.id|slugify %}
                                        {{ value }}
                                    {% endif %}
                                {% endfor %}
                            </small>
                        </div>
                    {% endfor %}
                    <strong>Total: $ {{ totals }}</strong><br/>
                    <a href='{% url "cart_summary" %}' class='btn btn-sm btn-outline-secondary mt-2'>Update Items</a>
                </div>
            </div>

            <!-- Shipping Info Card -->
            <div class="card mb-4">
                <div class="card-header">
                    Shipping Info
                </div>
                <div class="card-body">
                        {% csrf_token %}
                        {{ shipping_info }}
                    </div>
                </div>
                <!-- Continue to Billing Button -->
                <a href="#" class='btn btn-secondary'>Pay Now</a>

        </div>
    </div>
</div>

{% endblock %}
