{% extends "base.html" %}
{% block content %}
<!---->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Checkout</h1>
            <p class="lead fw-normal text-white-50 mb-0">Review your order...</p>
        </div>
    </div>
</header>
<br/>
<div class="container">

STUFF
    
</div>
<br/><br/>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <a href="{% url 'home' %}" class="btn btn-secondary btn-lg">Home</a>
        </div>
    </div>
</div>
<br/><br/>

{% endblock %}