{% extends "base.html" %}
{% block content %}

<div class="container">
  <!-- Centraliza o conteúdo horizontalmente -->
  <div class="row justify-content-center">
    <div class="col-8">
      <!-- Espaçamento vertical usando classes do Bootstrap -->
      <div class="my-5"></div>

      <!-- Título da tabela -->
      <h3>Not Shipped Items</h3>
      
      <!-- Tabela para exibir itens não enviados -->
      <table class="table table-striped table-hover table-bordered">
        <!-- Cabeçalho da tabela com fundo escuro -->
        <thead class="table-dark">
          <tr>
            <th scope="col">Order</th>
            <th scope="col">Price</th>
            <th scope="col">Customer Email</th>
            <th scope="col">Date Ordered</th>
            <th scope="col">Shipping Status</th>          
          </tr>
        </thead>
        <!-- Corpo da tabela -->
        <tbody class="table-group-divider">
          <!-- Loop através dos pedidos e cria uma linha para cada item -->
          {% for item in orders %}
          <tr>
            <!-- Link para detalhes do pedido -->
            <td><a href="{% url 'orders' item.id %}">{{ item.id }}</a></td>
            <!-- Exibe o preço pago -->
            <td>$ {{ item.amount_paid }}</td>
            <!-- Exibe o email do cliente -->
            <td>{{ item.email }}</td>
            <!-- Exibe a data do pedido -->
            <td>{{ item.date_ordered }}</td>
            <!-- Formulário para marcar o item como enviado -->
            <td>
              <form method="post">
                {% csrf_token %}
                <!-- Campo oculto para enviar o status de envio -->
                <input type="hidden" name="shipping_status" value="true">
                <!-- Campo oculto para enviar o ID do pedido -->
                <input type="hidden" name="num" value="{{ item.id }}">
                <!-- Botão para marcar como enviado -->
                <button type="submit" class="btn btn-success">Mark as shipped</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- Espaçamento adicional usando classes do Bootstrap -->
      <div class="my-5"></div>
    </div>
  </div>
</div>

{% endblock content %}