{% extends "base.html" %} 
{% block content %}

<div class="container">
  <div class="row">
    <!-- Centraliza o conteúdo horizontalmente -->
    <center>
      <div class="col-8">
        <!-- Espaçamento vertical -->
        <br/><br/><br/>

        <!-- Título da tabela -->
        <h3>Shipped Items</h3>
        
        <!-- Tabela estilizada com Bootstrap -->
        <table class="table table-striped table-hover table-bordered">
          <!-- Cabeçalho da tabela com fundo escuro -->
          <thead class="table-dark">
            <tr>
              <th scope="col">Order</th>
              <th scope="col">Price</th>
              <th scope="col">Customer Email</th>
              <th scope="col">Date Shipped</th>
            </tr>
          </thead>
          <!-- Corpo da tabela -->
          <tbody class="table-group-divider">
            <!-- Loop através dos itens de pedidos -->
            {% for item in orders %}
            <tr>
              <!-- Exibe o ID do pedido -->
              <td>{{item.id}}</td>
              <!-- Exibe o preço pago, formatado com símbolo de dólar -->
              <td>$ {{item.amount_paid}}</td>
              <!-- Exibe o email do cliente -->
              <td>{{item.email}}</td>
              <!-- Exibe a data de envio -->
              <td>{{item.date_shipped}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- Espaçamento vertical -->
        <br /><br />
      </div>
    </center>
  </div>
</div>

{% endblock content %}